.thank-you {
    text-align: center;
}

.section-game {
    width: 100vw;
    height: 70vh;
    text-align: center;

}

#game {
    height: 90%;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

.person {
    bottom: 0;
    height: 100px;
    width: 40px;
}

.gangster {
    position: absolute;
    background-color: black;
}

.civilian {
    position: absolute;
    background-color: yellow;
}