body {
    margin: 0;
    background-color: #090909;
    color: rgb(236, 236, 236);
    font-family: "Fanwood Text", serif;
    font-size: 22px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: Quattrocento, serif;
    padding: 0 2%;
}

h2 {
    font-family: Quattrocento, serif;
    font-size: 2.3rem;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 0;
}

#game div:not(.person) {
    background-color: rgba(236,236,236,0.6);
    padding-bottom: 0;
    height:100%;
}

.thank-you {
    text-align: center;
}

.section-game {
    width: 100vw;
    height: 70vh;
    text-align: center;
}

#welcome-screen{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    z-index: 1;
    width: 70%;
}

#game {
    height: 90%;
    width: 70%;
    margin: 2% auto;
    position: relative;
    background-image: url("./game_images/bg1.png");
    background-size: 100% 100%;
    border: 1px solid #ececec;
    color: #090909;
    text-shadow: none;
}

#game p {
    font-size: 1.5rem;
}
.person {
    bottom: 0;
    height: 100px;
    width: 40px;
    margin-bottom: 5rem;
}

.gangster {
    position: absolute;
    /*height: 15%;*/
    /*width: 6%;*/
    background-image: url("./game_images/cut1/GunOne1.png");
    background-size: 100% 100%;
}

.civilian {
    position: absolute;
    /*height: 20%;*/
    /*width: 10%;*/
    background-color: crimson;
    background-size: 100% 100%;
}
.animation {

}

.button-game {
    height: 3rem;
    width: 30%;
    background-color: #E2083C;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    border: solid black 1px;
}