body {
    margin: 0;
    background-color: #090909;
    color: #E3E3E3;
    font-family: "Fanwood Text", serif;
    font-size: 20px;
}

.imagehero {
    background: url('img/gun-smaller.jpg');
    background-size: cover;
    height: 100vh;
    background-position-x: right;
}

h2 {
    font-family: Quattrocento, serif;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}
.header{
   /* position: absolute;
    top:60%;
    left:20%;
    transform: translate(-50%,-50%);*/
    font-size: 1.5rem;
}

button {
    min-height: 3rem;
    min-width: 10rem;
    background-color: #E2083C;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 6rem;
    margin-top: 0.5rem;
}

button:hover {
    cursor: pointer;
}

.hero-description {
    padding: 2rem;
    max-width: 45%;
}

h2 {
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    width: 100%;

}
section {
    margin: 20px 0;
    padding: 200px 20px 40px;
}
.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto 0;
    max-width: 700px;
    }

#about-us img{
    border-radius: 50%;
    margin: 20px;
}

#about-us a{
    color:#E3E3E3;
    text-decoration: none;
}

.feature-description,
.team-description{
    text-align: center;
    margin: 10px;
    width: 300px;
}

.team-member {
    margin: 20px;
}

.form-section {
    color:#090909;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-section-layer {
    width: 40rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    padding-top: 30px;
    background-color: #222222;

}

.form-section-layer p {
    font-family: Quattrocento, serif;
    font-size: 1.2rem;
}

.form-email {
    height: 30px;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    padding-left: 1.2rem;
    margin-top: 1em;
}

.button {
    height: 36px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
    font-weight: bolder;
    color: #E2083C;
    background-color: transparent;
    margin-top: 1em;
}

.subscribe {
    margin-top: 0px;
    font-size: 25px;
    color: #CBCBCB;
    font-family: "Fanwood Text", serif;
    /*font: ;*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: #090909;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
}

li a{
    display: block;
    color: white;
    font-size: large;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: #E2083C;
}

.logo {
    height: 85px;
}

@media (max-width: 860px) {
    .imagehero {
        background-image: none;
        height: auto;
        margin-bottom: 10rem;
    }

    .hero-description {
        position: relative;
        top: 4rem;
        margin: 1rem;
        max-width: 100%;
        text-align: center;
    }

    button {
        position: static;
        margin: 1rem auto;
    }
}
.form-section-layer p{
    font-size: 1.1em;
    color: #CBCBCB;
    font-family: "Fanwood Text", serif;
    margin: 0.3em;

}