.imagehero {
    background: url('img/gun1.jpeg');
    background-size: cover;
    height: 100vh;
}
.header{
   /* position: absolute;
    top:60%;
    left:20%;
    transform: translate(-50%,-50%);*/
    color:white;
    font-size: 30px;
}
body {
    margin: 0;

    background-color: #090909;
    color: #CBCBCB;
    font-family: "Book Antiqua", serif;
}

h2 {
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    width: 100%;

}
section {
    margin: 40px 0;
    padding: 40px 40px;
}
.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px auto 0;
    max-width: 700px;
    }

#about-us img{
    border-radius: 50%;
    margin: 20px;
}

#about-us a{
    color:#CBCBCB;
    text-decoration: none;
}


.feature-description,
.team-description{
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.form-section {
    color:#090909;
    height: 80vh;
    display: flex;
    align-items: center;
}

.form-section-layer {
    background: white;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
}


.form-email {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
}

.button {
    height: 36px;
    width: 100px;
    border-radius: 0px 5px 5px 0px;
}

.subscribe {
    margin-top: 0px;
    text-shadow: 3px 3px #CBCBCB;
    font-size: 25px;
    /*font: ;*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: #090909;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: left;
}

li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover {
    background-color: #090909;
}